<article class="grid items-center gap-8 md:gap-12 md:grid-cols-2">
    {{#if feature_image}}
    <a href="{{ url }}" class="inline-block max-h-52">
        <img class="object-cover w-full h-full" srcset="{{img_url feature_image size='s'}} 300w, {{img_url feature_image size='m' }} 600w,
            {{img_url feature_image size='l' }} 1000w, {{img_url feature_image size='xl' }} 2000w"
            sizes="(max-width: 1000px) 400px, 700px" src="{{img_url feature_image size=" m"}}"
            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
    </a>
    {{/if}}

    <div class="flex flex-col justify-center">
        <h2 class="my-4 text-2xl font-bold md:text-[32px]">
            <a class="transition duration-200 hover:border-b-6 border-accent" href="{{ url }}">
                {{title}}
            </a>
        </h2>
        <p class="text-xl text-color-dark-primary line-clamp-3 font-nunito">{{excerpt}}</p>

        <a href="{{url}}" class="flex items-center self-end mt-3 space-x-2 text-xl font-bold group">
            <span>Learn More</span>
            <svg class="transition-all duration-150 group-hover:translate-x-3 w-14" version="1.0"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.000000 29.000000" preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,29.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                    <path d="M507 213 c-4 -3 0 -14 8 -23 14 -16 3 -17 -157 -24 -201 -8 -253 -15
                    -253 -36 0 -11 11 -15 40 -14 22 1 119 5 215 9 145 6 173 5 163 -6 -18 -18
                    -16 -39 3 -39 22 0 94 58 94 75 0 8 -20 26 -43 40 -45 26 -59 30 -70 18z" />
                </g>
            </svg>
        </a>
    </div>
</article>