<article class="grid gap-0 md:gap-12 md:grid-cols-2">
    {{#if feature_image}}
    <a href="{{ url }}" class="{{#if @even}}md:order-2{{/if}} inline-block aspect-w-1 aspect-h-1">
        <img class="object-cover w-full" srcset="{{img_url feature_image size='s'}} 300w, {{img_url feature_image size='m' }} 600w,
            {{img_url feature_image size='l' }} 1000w, {{img_url feature_image size='xl' }} 2000w"
            sizes="(max-width: 1000px) 400px, 700px" src="{{img_url feature_image size=" m"}}"
            alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
    </a>
    {{/if}}

    <div class="flex flex-col justify-center">
        <h2 class="my-4 text-xl font-bold md:text-[32px] md:leading-10">
            <a class="transition duration-200 hover:border-b-6 border-accent" href="{{ url }}">
                {{title}}
                {{#has visibility="paid"}}
                    <svg xmlns="http://www.w3.org/2000/svg" class="inline w-8 ml-2" viewBox="0 0 375 375" version="1.0">
                        <defs>
                            <clipPath id="a">
                                <path d="M 49 15.121094 L 337 15.121094 L 337 360.121094 L 49 360.121094 Z M 49 15.121094" />
                            </clipPath>
                        </defs>
                        <g clip-path="url(#a)">
                            <path fill="#C7D0DB"
                                d="M 307.851562 144.496094 L 279.117188 144.496094 L 279.117188 86.996094 C 279.117188 47.296875 246.960938 15.121094 207.285156 15.121094 L 178.558594 15.121094 C 138.882812 15.121094 106.726562 47.296875 106.726562 86.996094 L 106.726562 144.496094 L 77.992188 144.496094 C 62.199219 144.496094 49.265625 157.441406 49.265625 173.246094 L 49.265625 331.371094 C 49.265625 347.175781 62.199219 360.121094 77.992188 360.121094 L 307.851562 360.121094 C 323.644531 360.121094 336.578125 347.175781 336.578125 331.371094 L 336.578125 173.246094 C 336.578125 157.441406 323.644531 144.496094 307.851562 144.496094 Z M 207.285156 255.507812 L 207.285156 302.621094 L 178.558594 302.621094 L 178.558594 255.507812 C 170 250.539062 164.1875 241.355469 164.1875 230.746094 C 164.1875 214.882812 177.054688 201.996094 192.921875 201.996094 C 208.789062 201.996094 221.65625 214.882812 221.65625 230.746094 C 221.65625 241.355469 215.84375 250.539062 207.285156 255.507812 Z M 250.382812 144.496094 L 135.460938 144.496094 L 135.460938 86.996094 C 135.460938 63.1875 154.761719 43.871094 178.558594 43.871094 L 207.285156 43.871094 C 231.082031 43.871094 250.382812 63.1875 250.382812 86.996094 Z M 250.382812 144.496094" />
                        </g>
                    </svg>
                {{/has}}
            </a>
        </h2>
        
        <div class="text-base md:text-lg text-color-dark-primary line-clamp-3 font-nunito">{{excerpt}}</div>
        
        <a href="{{url}}" class="flex items-center self-end mt-3 space-x-2 text-base font-bold group">
            <span>Learn More</span>
            <svg class="transition-all duration-150 group-hover:translate-x-3 w-9" version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.000000 29.000000" preserveAspectRatio="xMidYMid meet">
                <g transform="translate(0.000000,29.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                    <path d="M507 213 c-4 -3 0 -14 8 -23 14 -16 3 -17 -157 -24 -201 -8 -253 -15
            -253 -36 0 -11 11 -15 40 -14 22 1 119 5 215 9 145 6 173 5 163 -6 -18 -18
            -16 -39 3 -39 22 0 94 58 94 75 0 8 -20 26 -43 40 -45 26 -59 30 -70 18z" />
                </g>
            </svg>
        </a>
    </div>
</article>