<div class="flex items-center justify-between p-8">
    <a class="text-2xl font-medium " href="{{@site.url}}">
        {{#if @site.logo}}
        <img src="{{@site.logo}}" alt="{{@site.title}}" class="w-auto h-8 mr-4 ">
        {{else}}
        {{@site.title}}
        {{/if}}
    </a>

    <div class="hidden header-nav md:block">
        {{navigation}}
    </div>
    <a class="hidden text-sm font-semibold uppercase md:block" href="#/portal/login">Login</a>

    <button class="md:hidden" id="hamburger">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
    </button>
</div>



<div class="mobile-menu" id="mobile-menu">
    <button class="mobile-menu__cross">&times;</button>
    {{navigation}}
</div>