<div class="flex items-center justify-between p-4 md:p-8">
    <a class="text-xl font-medium uppercase" href="{{@site.url}}">
        {{#if @site.logo}}
        <img src="{{@site.logo}}" alt="{{@site.title}}" class="w-auto h-8 mr-4 ">
        {{else}}
        {{@site.title}}
        {{/if}}
    </a>

    <div class="hidden header-nav md:block">
        {{navigation}}
    </div>

    <div class="flex space-x-4">
        {{#if @member}}
        <a class="hidden text-sm font-semibold uppercase md:block" href="#/portal">
            {{@member.name}}
        </a>
        <a class="hidden text-sm font-semibold uppercase md:block" href="javascript:" data-members-signout>Sign out</a>
        {{else}}
        <a class="hidden text-sm font-semibold uppercase md:block" href="#/portal/login">Login</a>
        {{/if}}
    </div>


    <button class="md:hidden" id="hamburger">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
    </button>
</div>



<div class="relative mobile-menu" id="mobile-menu">
    <button class="mobile-menu__cross">&times;</button>
    <div>
        {{navigation}}
        
        <div class="absolute flex flex-col items-center justify-center bottom-10 left-[50%] transform transform-gpu translate-x-[-50%]">
            <div class="flex flex-col space-y-4">
                {{#if @member}}
                <a class="text-sm font-semibold uppercase md:block" href="#/portal">
                    {{@member.name}}
                </a>
                <a class="text-sm font-semibold uppercase md:block" href="javascript:" data-members-signout>Sign out</a>
                {{else}}
                <a class="text-sm font-semibold uppercase md:block" href="#/portal/login">Login</a>
                {{/if}}
            </div>
        </div>
    </div>
</div>